* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


body {
    font-family: $main-font, $second-font, sans-serif;
    font-size: 16px;
}