* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: $main-font, $second-font, sans-serif;
    font-size: 26px;
    color: $text-font-color;
}

.wrapper {
    width: 100%;
    background: $main-bg-color;
    margin: 0 auto;
    padding-bottom: 200px;
}

.content {
    max-width: 2280px;
    background: #ffffff;
    margin: 0 auto;
}

.container {
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $link-font-color;
}

button {
    height: 100px;
    width: 100%;
    width: 335px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid $text-font-color;
    border-radius: 9px;
    cursor: pointer;

    &:hover {
        font-size: 30px;
        text-decoration: underline;
    }
}

.section-main {
    &__title {
        font-size: 50px;
        position: relative;
        font-weight: 500;
        color: $link-font-color;
        margin-right: 20px;

        &::before {
            position: absolute;
            left: -135px;
            bottom: 0;
            width: 75px;
            height: 75px;
            border: 1px solid;
            border-radius: 50%;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            font-size: 30px;
            font-weight: 500;
            color: $link-font-color;
        }
    }

    &__item {
        margin-bottom: 100px;

        &--wrapper {
            padding: 0 20px;
            margin-bottom: 175px;
        }
    }

    .title {
        &--first {
            &::before {
                content: '1';
            }
        }

        &--second {
            &::before {
                content: '2';
            }
        }

        &--third {
            &::before {
                content: '3';
            }
        }

        &--fourth {
            &::before {
                content: '4';
            }
        }

        &--fifth {
            &::before {
                content: '5';
            }
        }
    }
}

.selected {
    border: 10px solid $selected-items-color;

    &::after {
        content: '';
        background: url(../../src/assets/pics/check-mark.svg) 0 0 no-repeat;
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        top: -50px;
        right: -50px;
    }
}

#userFile {
    display: none;
}

#userFileBtn {
    border: 2px solid $text-font-color;
    width: 460px;
    font-size: 30px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.hide {
    display: none;
}

label,
input,
a {
    cursor: pointer;
}

form input {
    &:invalid {
        background: url(../../src/assets/pics/close.svg) 95% 50% no-repeat;
        background-size: 50px;
    }

    &:valid {
        background: url(../../src/assets/pics/check-mark.svg) 95% 50% no-repeat;
        background-size: 50px;
    }
}