.logo {
    text-align: center;
    padding: 130px 0;

    &__img {
        max-width: 200px;
        opacity: .3;
    }
}

.header {
    width: 100%;
    top: 130px;
    border-bottom: 2px solid $text-font-color;
    margin-bottom: 200px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__body {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 25px 75px 25px 0px;
    }

    &__burger {
        display: none;
    }

    &__desc {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &>.header__title {
            margin-left: 145px;

            &::before {
                position: absolute;
                content: '';
                background: url(../../src/assets/pics/icon-tine-how.png) no-repeat;
                width: 50px;
                height: 50px;
                top: 40px;
                left: 60px;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-evenly;

        dl {
            line-height: 2;
        }
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 600;
        color: $header-title-font-color;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &--order {
            background: $main-color;
            color: #ffffff;
        }

        &--print {
            background: #F0F0F0;
            color: $text-font-color;
        }
    }

    &__footer {
        position: relative;
        width: 925px;
        height: 320px;
        border-left: 2px solid $text-font-color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 29px 36px 36px 150px;

        &>.header__title::before {
            background: url(../../src/assets/pics/icon-tel.png) 0 0 / contain no-repeat;
        }

        .header__links {
            display: flex;
            justify-content: space-between;

            a {
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}

.header__burger {
    display: none;
    z-index: 1;
}